
{%extends 'base.html'%}
{% block content %}




<div class="container" id="about">
  <h3>ABOUT</h3>
  <hr>
  <p>Welcome to Electronic Gadgets

    At Electronic Gadgets, we're dedicated to enhancing your tech experience like never before. Our commitment to innovation and quality has made us a trusted name in the world of electronic devices.</p>
    <p>

        Our mission is clear: we aim to make technology accessible and exciting for tech enthusiasts and beginners alike. Whether you're a tech guru or just starting your journey, we are here to provide you with a seamless shopping experience and products that bring the future to your fingertips.
        
        Get in Touch
        
        We welcome your feedback, questions, and discussions about the latest gadgets. The Electronic Gadgets team is here to assist you. Thank you for choosing Electronic Gadgets as your go-to source for top-quality electronic devices.
    </p>
  <hr>
  <div class="row" style="margin-top: 50px;">
    <div class="col-md-5 py-3 py-md-0">
      <div class="card">
        <img src="/static/images/background.png" alt="">
      </div>
    </div>
    <div class="col-md-7 py-3 py-md-0">
      <p>Why Choose Electronic Gadgets?

        Cutting-Edge Technology: We offer the latest and greatest in electronic gadgets. Our products are designed to keep you ahead in the fast-paced world of technology.
        
        Quality Assurance: At Electronic Gadgets, we believe in top-notch quality. Each gadget we offer is carefully selected for its superior performance, durability, and stylish design.
        
        Customer-Centric Approach: Your satisfaction is our top priority. Our friendly customer support team is always ready to assist you with any questions or concerns, from product selection to after-sales support.
        
        Staying Ahead: In a world where technology evolves rapidly, we help you stay on the forefront of tech trends and product releases.
        
        
        
        Discover, experience, and embrace innovation with Electronic Gadgets.
        
        Feel free to adjust this content to match your company's unique characteristics, values, and mission.</p>
      <button>Read More...</button>
    </div>
  </div>
</div>
<!-- offer -->
<div class="container" id="offer">
  <div class="row">
    <div class="col-md-3 py-3 py-md-0">
      <i class="fa-solid fa-cart-shopping"></i>
      <h3>Free Shipping</h3>
      <p>On order over $1000</p>
    </div>
    <div class="col-md-3 py-3 py-md-0">
      <i class="fa-solid fa-rotate-left"></i>
      <h3>Free Returns</h3>
      <p>Within 30 days</p>
    </div>
    <div class="col-md-3 py-3 py-md-0">
      <i class="fa-solid fa-truck"></i>
      <h3>Fast Delivery</h3>
      <p>World Wide</p>
    </div>
    <div class="col-md-3 py-3 py-md-0">
      <i class="fa-solid fa-thumbs-up"></i>
      <h3>Big choice</h3>
      <p>Of products</p>
    </div>
  </div>
</div>
<!-- offer -->













{% endblock %}