
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Electronic Shop</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <!-- bootstrap links -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- bootstrap links -->
    <!-- fonts links -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&display=swap" rel="stylesheet">
    <!-- boostrap -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous"> -->
    <!-- fonts links -->
</head>

<body>








    <!-- footer -->
    <footer id="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-6 footer-contact">
                        <h3>Electronic Shop</h3>
                        <p>
                            Banglore <br>
                            Karnataka <br>
                            India<br>
                        </p>
                        <strong>Phone:</strong> +91-1234560789 <br>
                        <strong>Email:</strong> firdaush@gmail.com <br>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>useful Links</h4>
                        <ul>
                            <li><a href="home">Home</a></li>
                            <li><a href="about">About Us</a></li>
                            <li><a href="services">Services</a></li>
                            <li><a href="#">Terms of service</a></li>
                            <li><a href="#">Privacy policy</a></li>
                        </ul>
                    </div>





                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Our Services</h4>

                        <ul>
                            <li><a href="#">PS 5</a></li>
                            <li><a href="#">Computer</a></li>
                            <li><a href="#">Gaming Laptop</a></li>
                            <li><a href="#">Mobile Phone</a></li>
                            <li><a href="#">Gaming Gadget</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Our Social Networks</h4>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia, quibusdam.</p>

                        <div class="socail-links mt-3">
                            <a href="https://www.twitter.com"><i class="fa-brands fa-twitter"></i></a>
                            <a href="https://www.facebook.com"><i class="fa-brands fa-facebook-f"></i></a>
                            <a href="https://www.instagram.com"><i class="fa-brands fa-instagram"></i></a>
                            <a href="https://www.skype.com"><i class="fa-brands fa-skype"></i></a>
                            <a href="https://www.github.com/firdaush25"><i class="fa-brands fa-github"></i></a>
                            <a href="https://www.linkedin.com/in/firdaush-alam"><i class="fa-brands fa-linkedin"></i></a>

                        </div>

                    </div>

                </div>
            </div>
        </div>
        <hr>
        <div class="container py-4">
            <div class="copyright">
                &copy; Copyright <strong><span>Electronic Shop</span></strong>. All Rights Reserved
            </div>
            <div class="credits">
                Designed by:&nbsp; <a href="#"><span class="span2">F</span>irdaush <span class="span2">A</span>lam </a>
            </div>
        </div>
    </footer>
    <!-- footer -->








    <a href="#" class="arrow"><i><img src="/static/images/arrow.png" alt=""></i></a>













    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

</body>

</html>