{%extends 'base.html'%}
{% block content %}

<div class="container" id="login">
  <div class="row">
    <div class="col-md-5 py-3 py-md-0" id="side1">
      <h3 class="text-center">Register</h3>
    </div>
    <div class="col-md-7 py-3 py-md-0" id="side2">
      <h3 class="text-center">Create Account</h3>
      <div class="input2 text-center">
        <form method="post" action="register">
          {% csrf_token %}
          {% if messages %}
          <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
              {% endfor %}
          </ul>
          {% endif %}
          <input type="text" id="fname" placeholder="FirstName" name="fname">
          <input type="text" id="lname" placeholder="LastName" name="lname">

          <input type="text" id="username" placeholder="UserName" name="username">
          <!-- <input type="name" id="" placeholder="User Name"> -->
          <input type="email" id="email" placeholder="Email" name="email">
          <!-- <input type="number" id="phone" placeholder="Phone" name="phone"> -->

          <input type="password" id="password" placeholder="Password" name="password"><br>
          <button class="btn btn-primary" type="submit" id="signin-btn">Sign in</button>
        </form>
      </div>
      <!-- <p class="text-center" id="btnlogin"><a href="#">SIGN UP</a></p> -->

    </div>

  </div>
</div>





<!-- newslater -->
<!-- <div class="container" id="newslater" style="margin-top: 100px;">
  <h3 class="text-center">Subscribe To The Electronic Shop For Latest upload.</h3>
  <div class="input text-center">
    <input type="text" placeholder="Enter Your Email..">
    <button id="subscribe">SUBSCRIBE</button>
  </div>
</div> -->
<!-- newslater -->



{% endblock %}